html,
body {
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

@keyframes twinkle {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.twinkle-animation {
  animation-name: twinkle;
  animation-duration: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
  animation-iteration-count: 2;
}

.twinkle-animation2 {
  animation-name: twinkle;
  animation-delay: .1s;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
  animation-iteration-count: 1.5;
}

.jello-animation {
  animation-name: jello;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.swing-animation {
  animation-name: swing;
  animation-delay: 300ms;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.justify-space-evenly {
  justify-content: space-evenly !important;
}
